@charset "UTF-8";
button {
  background-color: #e26e1e;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:before {
  content: "버튼";
  display: block;
}

button:hover {
  background-color: #ed6c1d;
}

button:active {
  background-color: #b0591e;
}